@import "styles/utils";

.main {
  position: relative;
  padding: 142px 24px 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media(">desktop") {
    padding: 132px 0 0;
  }

  &::before {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 168px;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(136,136,136,1) 100%);
    background-size: cover;
    background-position: 80%;
    content: "";
    z-index: -1;

    @include media(">desktop") {
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(136,136,136,1) 100%);
      background-size: cover;
    }
  }

  .title {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(181, 181, 181);
    margin-bottom: 54px;

    @include media(">desktop") {
      font-size: 22px;
      line-height: 29px;
      letter-spacing: 7.5px;
      margin-bottom: 104px;
    }
  }

  .container {
    display: flex;
    grid-gap: 16px;
    color: black;

    @include media(">tablet") {
      grid-gap: 32px;
    }
  }
}
